<div class="card">
  <div class="card-header">
    Header
  </div>
  <div class="card-body">
    <h4 class="card-title">Saludo</h4>
      <div class="form-group">
        <label for="name">Nombre</label>
        <input type="text" class="form-control" name="name" id="name" placeholder="Escribe tu nombre"
               [(ngModel)]="name">
      </div>
      <button type="button" class="btn btn-primary" (click)="btnBorrar()">Borrar</button>
  </div>
  <div class="card-footer text-muted">
    Hola {{ name }}
  </div>
</div>